<?php

  /**
   * Application level color schemes implementation
   *
   * @package ##APPLICATION_NAME##.modules.system
   * @subpackage models
   */
  class ColorSchemes extends FwColorSchemes {

  } // ColorSchemes