<?php

  // Build on top of the framework controller
  AngieApplication::useController('fw_##SHORT_CONTROLLER_NAME##', '##FRAMEWORK_NAME##');

  /**
   * Application level ##SHORT_CONTROLLER_NAME## controller
   *
   * @package ##APPLICATION_NAME##.modules.system
   * @subpackage controllers
   */
  ##IS_ABSTRACT##class ##CONTROLLER_NAME## extends Fw##CONTROLLER_NAME## {

  }