<?php

  /**
   * Application level control tower implementation
   *
   * @package ##APPLICATION_NAME##.modules.system
   * @subpackage models
   */
  class ControlTower extends FwControlTower {

  }