<?php

  /**
   * Application level history renderer implementation
   *
   * @package ##APPLICATION_NAME##.modules.system
   * @subpackage models
   */
  class HistoryRenderer extends FwHistoryRenderer {

  }