<?php

  /**
   * Application level reports panel implementation
   *
   * @package ##APPLICATION_NAME##.modules.system
   * @subpackage models
   */
  class ReportsPanel extends FwReportsPanel {

  }