<?php

  /**
   * Web browser backend wireframe implementation
   *
   * @package ##APPLICATION_NAME##.modules.system
   * @subpackage models
   */
  class WebBrowserBackendWireframe extends FwWebBrowserBackendWireframe {

  }